<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-[#c441f6] dark:[&>p>strong]:text-[#c441f6] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Me llamo José Julián pero mis amigos me llaman Jules. Hace ocho años descubrí mi gusto por la programación, 
            y desde entonces he desarrollado una fuerte pasión por crear soluciones tecnológicas que sean creativas, innovadoras y eficientes. Soy <strong>Técnico Superior Universitario en Desarrollo de Software Multiplataforma </strong>
            y actualmente me encuentro cursando la carrera de <strong> 
            Ingieneria en Gestión y Desarrollo de Software</strong> en la Universidad Tecnológica de Tecámac.
        </p>

        <p>
            A lo largo de mi formación he adquirido experiencia en el 
            <strong>desarrollo de aplicaciones web y móviles, así como en la gestión y administración de bases de datos</strong>.
        </p>

        <p>
            He participado activamente en proyectos tanto en el diseño e implementación de funcionalidades clave, <strong> enfocándome
            en la eficiencia del backend y la experiencia del usuario en el frontend.</strong>
        </p>
    </div>
<img width="200" height="200" src="/friends.webp" alt="José Julián" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
